# Application Environment
NODE_ENV=development

# PostgreSQL Database Configuration
DATABASE_URL=postgresql://neondb_owner:npg_zqWuVXAZ32Sd@ep-patient-butterfly-age8cgpu.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require

PGHOST=ep-patient-butterfly-age8cgpu.c-2.eu-central-1.aws.neon.tech
PGPORT=5432
PGDATABASE=neondb
PGUSER=neondb_owner
PGPASSWORD=npg_zqWuVXAZ32Sd

# Optional for Vercel / Production
POOL_MAX=10

# Session Secret (required for authentication)
SESSION_SECRET=dev-secret-change-me-in-production-7389
